<a class="logo" href="{{ site.baseurl }}/" name="home">
    <span>
        <img src="../pictures/0-02-04-9c9817c54c47792fb71e3cdb6684352e8e62e79ab26ee6d8f62a9d4edb9a4b07_c399c633.jpg" alt="">
    </span>
    <p>&copy 2019 catbreeds </p>
</a>

<p>All images are the property of their respective owners. If you found any image copyrighted to yours, Please contact us, so we can remove it.</p>
    
<section class="social-media">
    <ul>
        <li><a class="social-icon" href="#social"><i class="fab fa-facebook-square" name="social"></i></a></li>
        <li><a class="social-icon" href="#social"><i class="fab fa-twitter"></i></a></li>
        <li><a class="social-icon" href="#social"><i class="fab fa-instagram"></i></a></li>
        <li><a href="#social" class="social-icon"><i class="fab fa-youtube-square"></i></a></li>
    </ul>
</section>