
<!-- <section class="social">
    <ul>
        <li><a class="facebook" href="#"><i class="fab fa-facebook-square"></i></a></li>
        <li><a class="twitter" href="#"><i class="fab fa-twitter"></i></a></li>
        <li><a class="insta" href="#"><i class="fab fa-instagram"></i></a></li>
    </ul>
</section> -->


<a class="logo" href="{{ site.baseurl }}/" name="home">
    <span>
        <img src="../pictures/0-02-04-9c9817c54c47792fb71e3cdb6684352e8e62e79ab26ee6d8f62a9d4edb9a4b07_c399c633.jpg" alt="">
    </span>
    <p>&copy 2019 catbreeds </p>
</a>
    