.site {
    max-width: var(--layout-main-width);
    margin: 0 auto;
    padding: 2em;
}

@media ( min-width: 1024px ) {
    .site-header {
        display: flex;
        align-items: center;
    }

    .site-header h1 {
        margin-bottom: 0;
        padding: 0.2em 0.5em;
        border-radius: 0.1em;
    }

    .site-header nav {
        margin-left: auto;
    }

    .site-header nav li {
        display: inline-block;
    }

    .site-header a {
        padding: 0.25em 1em;
    }
    
}