.site-header {
    background-color: var(--color-primery);
    border-radius: 5px;
    border-bottom: 2px solid var(--color-hover);
}

.site-header .logo {
    display: flex;
    align-items: flex-end;
    padding: 0.5em;
}

.site-header .logo:hover {
    background-color: var(--color-darker);
    color: var(--color-primery);
}

.site-header .logo span:nth-child(1) {
    position: relative;
    display: block;
    overflow: hidden;
    width: 4em;
    height: 4em;
    border-radius: 50%;
}

.site-header .logo span:nth-child(2) {
    font-size: 1.8em;
}

.site-header .logo span img {
    width: 100%;
    height: auto;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.site-header a {
    color: var(--color-darker);
}

.site-header a:hover {
    border-bottom: 2px solid var(--color-hover);
    border-radius: 0.2em;
}

