:root {
    --font-size-body: 14px; 
    --font-size-body-big: 16px;
    --font-size-body-bigger: 18px;
    --font-size-body-large: 20px;

    --color-primery: rgb(237, 237, 237);
    --color-hover: rgb(34, 237, 12);
    --color-dark: rgb(194, 204, 204);
    --color-darker: rgb(59, 61, 56);
    
    --layout-main-width: 70em;
}