/* site header */

.site-header a,
.logo a {
    transition: all 0.3s ease-out;
}




/* gallery */
.gallery ul li:nth-child(odd) {
    -webkit-animation: slide-odd 0.15s alternate ease-in both;
            animation: slide-odd 0.15s alternate ease-in both;
}

.gallery ul li:nth-child(even) {
    -webkit-animation: slide-even 0.15s alternate ease-in both;
            animation: slide-even 0.15s alternate ease-in both;
}

@-webkit-keyframes slide-odd {
    from {
        display: none;
        transform: translate(-2em, -4em);
    }
    to {
        transform: translate(0);
        display: block;
    }
}

@keyframes slide-odd {
    from {
        display: none;
        transform: translate(-2em, -4em);
    }
    to {
        transform: translate(0);
        display: block;
    }
}

.gallery ul li:nth-child(3) {-webkit-animation-delay: 0.05s;animation-delay: 0.05s;}
.gallery ul li:nth-child(5) {-webkit-animation-delay: 0.1s;animation-delay: 0.1s;}
.gallery ul li:nth-child(7) {-webkit-animation-delay: 0.15s;animation-delay: 0.15s;}
.gallery ul li:nth-child(9) {-webkit-animation-delay: 0.2s;animation-delay: 0.2s;}
.gallery ul li:nth-child(11) {-webkit-animation-delay: 0.25s;animation-delay: 0.25s;}
.gallery ul li:nth-child(13) {-webkit-animation-delay: 0.3s;animation-delay: 0.3s;}
.gallery ul li:nth-child(15) {-webkit-animation-delay: 0.35s;animation-delay: 0.35s;}
.gallery ul li:nth-child(17) {-webkit-animation-delay: 0.4s;animation-delay: 0.4s;}
.gallery ul li:nth-child(19) {-webkit-animation-delay: 0.45s;animation-delay: 0.45s;}

@-webkit-keyframes slide-even {
    from {
        display: none;
        transform: translate(2em, 4em);
    }
    to {
        transform: translate(0);
        display: block;
    }
}

@keyframes slide-even {
    from {
        display: none;
        transform: translate(2em, 4em);
    }
    to {
        transform: translate(0);
        display: block;
    }
}

.gallery ul li:nth-child(2) {-webkit-animation-delay: 0.05s;animation-delay: 0.05s;}
.gallery ul li:nth-child(4) {-webkit-animation-delay: 0.1s;animation-delay: 0.1s;}
.gallery ul li:nth-child(6) {-webkit-animation-delay: 0.15s;animation-delay: 0.15s;}
.gallery ul li:nth-child(8) {-webkit-animation-delay: 0.2s;animation-delay: 0.2s;}
.gallery ul li:nth-child(10) {-webkit-animation-delay: 0.25s;animation-delay: 0.25s;}
.gallery ul li:nth-child(12) {-webkit-animation-delay: 0.3s;animation-delay: 0.3s;}
.gallery ul li:nth-child(14) {-webkit-animation-delay: 0.35s;animation-delay: 0.35s;}
.gallery ul li:nth-child(16) {-webkit-animation-delay: 0.4s;animation-delay: 0.4s;}
.gallery ul li:nth-child(18) {-webkit-animation-delay: 0.45s;animation-delay: 0.45s;}


    
