.site-header nav {
    padding: 2em;
    text-align: center;
}
  
.site-header nav ul {
    padding: 0;
}

.site-header nav li {
    padding: 0 0.2em;
}
  
.site-header nav li a{
    font-size: 1.2em;
    text-transform: uppercase;
    border-bottom: 3px solid #666;
    text-decoration: none;
}

.site-header nav li a:hover{
    background-color: var(--color-darker);
    color: var(--color-primery);
}
  
.site-header nav li:not(:last-child) {
    border-right: 1px solid #666;
}