@import url("https://fonts.googleapis.com/css?family=Fira+Sans:400,400i,700,700i|Merriweather:400,400i,700,700i&display=swap");
:root {
  --font-size-body: 14px;
  --font-size-body-big: 16px;
  --font-size-body-bigger: 18px;
  --font-size-body-large: 20px;
  --color-primery: rgb(237, 237, 237);
  --color-hover: rgb(34, 237, 12);
  --color-dark: rgb(194, 204, 204);
  --color-darker: rgb(59, 61, 56);
  --layout-main-width: 70em; }

*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font: var(--font-size-body, 14px)/1.5 "Fira Sans", Georgia, serif; }

@media (min-width: 600px) {
  html {
    font-size: var(--font-size-body-larger, 16px); } }

@media (min-width: 1024px) {
  html {
    font-size: var(--font-size-body-big, 18px); } }

@media (min-width: 1600px) {
  html {
    font-size: var(--font-size-body-huge, 20px); } }

body, table, form, select, option, input, textarea {
  font: inherit;
  background: var(--color-body-bgrd, #FFF);
  color: var(--color-body-text, #000); }

.site-title,
h1, h2, h3, h4, h5, h6 {
  font-size: 1em;
  margin-bottom: 0.5em;
  font-weight: normal;
  font-family: Merriweather, serif; }

h1 {
  font-size: 2.6em; }

h2 {
  font-size: 2.0em; }

h3 {
  font-size: 1.8em; }

h4 {
  font-size: 1.4em; }

h5 {
  font-size: 1.2em; }

h6 {
  font-size: 1.0em; }

a {
  text-decoration: none;
  color: var(--color-link-default, #0A0); }

p, ul, ol {
  padding-bottom: 1.5em; }

ul, ol {
  padding-left: 2em; }

ul ul, ol ul, ul ol, ol ol {
  padding-top: 0.5em;
  padding-bottom: 0.5em; }

ol > li > ol > li {
  list-style-type: lower-roman; }

blockquote {
  padding: 1rem; }

blockquote .author {
  font-style: italic;
  text-align: right;
  opacity: 0.5; }

blockquote .author:before {
  display: inline-block;
  content: '\2014';
  padding-right: 0.5em; }

.site {
  max-width: var(--layout-main-width);
  margin: 0 auto;
  padding: 2em; }
  @media (max-width: 650px) {
    .site {
      padding: 0; } }

@media (min-width: 1024px) {
  .site-header {
    display: flex;
    align-items: center;
    margin-bottom: 5em;
    padding: 0.2em 0.2em 0.2em 1em; }
  .site-header nav {
    margin-left: auto; }
  .site-header nav li {
    display: inline-block; }
  .site-header nav a {
    padding: 0.25em 1em; } }

.site-header {
  background-color: var(--color-darker);
  border-radius: 5px;
  border-bottom: 2px solid var(--color-hover);
  color: var(--color-primery);
  box-shadow: 5px 5px 10px 4px rgba(0, 0, 0, 0.75); }
  @media (max-width: 650px) {
    .site-header {
      display: block;
      margin-bottom: 2em; } }

.site-header .logo {
  display: flex;
  align-items: flex-end;
  padding: 0 0.5em;
  color: var(--color-primery); }
  @media (max-width: 650px) {
    .site-header .logo {
      justify-content: center;
      padding: 0.5em 0; } }

.site-header .logo:hover {
  background-color: var(--color-darker);
  color: var(--color-primery); }

.site-header .logo span:nth-child(1) {
  position: relative;
  display: block;
  overflow: hidden;
  width: 3em;
  height: 3em;
  border: 1px solid var(--color-primery);
  border-radius: 50%; }

.site-header .logo span:nth-child(2) {
  font-size: 1.4em;
  text-transform: uppercase; }

.site-header .logo span img {
  width: 100%;
  height: auto;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.site-header a {
  color: var(--color-darker); }

.site-header a:hover {
  box-shadow: 0px 0px 8px 2px var(--color-hover, 1);
  border-radius: 0.2em; }

.site-header nav {
  padding: 0.5em;
  text-align: center; }

.site-header nav ul {
  padding: 0; }

.site-header nav li {
  padding: 0 0.2em; }

.site-header nav li a {
  font-size: 1.2em;
  text-transform: uppercase;
  border-bottom: 1px solid var(--color-primery);
  text-decoration: none;
  color: var(--color-primery); }

.site-header nav li a:hover {
  background-color: var(--color-dark);
  color: var(--color-darker);
  box-shadow: 0px 0px 8px 2px var(--color-hover, 1); }

.site-header nav li:not(:last-child) {
  border-right: 1px solid #666; }

footer {
  margin-top: 5em;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 1em;
  border-top: 1px solid var(--color-hover); }
  footer .logo {
    display: flex;
    align-items: center;
    margin-bottom: 1em; }
    footer .logo span {
      position: relative;
      display: block;
      overflow: hidden;
      width: 2em;
      height: 2em;
      border-radius: 50%; }
      footer .logo span img {
        width: 100%;
        height: auto;
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); }
    footer .logo p {
      padding-bottom: 0;
      color: var(--color-darker); }
  footer .social-media ul {
    display: flex;
    justify-content: space-between;
    align-items: center; }
  footer .social-media li {
    list-style: none;
    font-size: 2.5em;
    border: 3px solid var(--color-darker);
    width: 1.7em;
    height: 1.7em;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: all 0.2s ease-in; }
    footer .social-media li:not(:last-child) {
      margin-right: 0.3em; }
    footer .social-media li:hover {
      border-color: var(--color-hover);
      box-shadow: 0px 0px 5px 2px var(--color-darker, 1); }
    footer .social-media li:hover .social-icon {
      color: var(--color-hover); }
    footer .social-media li .social-icon {
      color: var(--color-darker);
      transition: color 0.2s ease-in; }

.articles {
  position: relative; }
  @media (min-width: 1024px) {
    .articles {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: auto; } }
  @media (max-width: 650px) {
    .articles {
      display: flex;
      flex-wrap: wrap;
      align-items: flex-start; } }
  @media (min-width: 1024px) {
    .articles article {
      grid-column: span 3;
      padding: 0 2em;
      margin-bottom: 3em; } }
  @media (max-width: 650px) {
    .articles article {
      flex: 0 0 82%;
      padding: 0 1.5em;
      margin-bottom: 4em; } }
  .articles article h2 {
    text-align: center;
    border-bottom: 1px solid var(--color-hover);
    margin-bottom: 1.5em; }
  .articles article .image-container {
    display: block;
    position: relative;
    margin: 0 auto; }
    @media (min-width: 1024px) {
      .articles article .image-container {
        padding-bottom: 5em; } }
    @media (max-width: 650px) {
      .articles article .image-container {
        width: 23em; } }
    .articles article .image-container img {
      width: 100%;
      height: auto;
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      box-shadow: 40px 40px 50px 0px rgba(0, 0, 0, 0.75);
      border-radius: 1em 0 1em 0; }
    .articles article .image-container:before {
      display: block;
      content: '';
      padding-top: 56.25%; }
  .articles article .skew-left {
    transform: skew(5deg, 5deg); }
  .articles article .skew-right {
    transform: skew(-5deg, -5deg); }
  .articles article .top {
    margin-top: 5em; }
  .articles article p {
    padding-bottom: 0.4em; }
  .articles .partners {
    position: -webkit-sticky;
    position: sticky; }
    @media (min-width: 1024px) {
      .articles .partners {
        top: 2em;
        grid-column: span 1;
        padding: 1em 0.5em;
        grid-area: 1 / 4 / 2 / 4;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 4em 6em 6em 6em 6em 6em;
        grid-row-gap: 1.2em; } }
    @media (max-width: 650px) {
      .articles .partners {
        top: 3em;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 4em 6em 6em 6em 6em 6em;
        grid-row-gap: 1.5em;
        flex: 0 0 15%;
        margin-left: auto;
        padding-right: 0.5em; } }
    .articles .partners h4 {
      border-bottom: 1px solid var(--color-hover);
      text-align: center; }
    .articles .partners .partner-logo {
      box-shadow: 30px 30px 50px 0px rgba(0, 0, 0, 0.75);
      position: relative;
      display: block;
      overflow: hidden;
      transform: skew(-3deg, 0deg); }
      @media (min-width: 1024px) {
        .articles .partners .partner-logo {
          width: 60%;
          justify-self: center; } }
      @media (max-width: 650px) {
        .articles .partners .partner-logo {
          flex-basis: 100%; } }
      .articles .partners .partner-logo img {
        width: 5em;
        height: auto;
        display: block;
        position: absolute;
        z-index: 1000;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); }
        @media (max-width: 650px) {
          .articles .partners .partner-logo img {
            width: 100%; } }

.main header {
  color: var(--color-primery);
  text-shadow: 0px 0px 10px #3b3d38;
  text-align: center;
  padding: 1em 1.5em;
  position: relative;
  display: block;
  overflow: hidden;
  text-align: center;
  width: 100%;
  border-radius: 0.5em; }

@media (min-width: 1024px) {
  .main .home-page-header {
    height: 25em; } }

@media (max-width: 650px) {
  .main .home-page-header {
    height: 10em; } }

.main .home-page-header img {
  width: 100%;
  height: auto;
  display: block;
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.main .homepage-content header {
  color: var(--color-darker); }

.main .homepage-content-head {
  padding-top: 4em; }

.main .latest-posts {
  background-image: linear-gradient(to right, #3b3d38, #54653b, #6e903a, #8abd30, #a8eb12);
  border-radius: 0.5em; }
  @media (min-width: 1024px) {
    .main .latest-posts {
      padding: 0 0.2em;
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      grid-template-rows: repeat(4, 16em);
      grid-gap: 0.5em; } }
  @media (max-width: 650px) {
    .main .latest-posts {
      display: flex;
      flex-wrap: wrap;
      padding: 0; } }
  .main .latest-posts li {
    position: relative;
    display: block; }
    @media (max-width: 650px) {
      .main .latest-posts li {
        overflow: hidden;
        margin-bottom: 1em;
        flex: 1 0 100%; } }
    @media (max-width: 650px) {
      .main .latest-posts li:before {
        display: block;
        content: '';
        padding-top: 56.25%; } }
    .main .latest-posts li header {
      text-shadow: 1px 1px 4px black; }
      @media (min-width: 1024px) {
        .main .latest-posts li header {
          position: absolute;
          z-index: 200; } }
      .main .latest-posts li header h6 {
        border-bottom: 1px solid var(--color-hover);
        text-align: center; }
      .main .latest-posts li header a {
        color: var(--color-primery);
        font-weight: bold; }
    .main .latest-posts li img {
      width: 100%;
      height: auto;
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      box-shadow: 20px 20px 35px 0px rgba(0, 0, 0, 0.75); }
    .main .latest-posts li:hover img {
      box-shadow: 0px 0px 25px 2px var(--color-hover, 1); }
  @media (min-width: 1024px) {
    .main .latest-posts .small {
      grid-column: span 2;
      grid-row: span 1;
      width: 100%; } }
  @media (min-width: 1024px) {
    .main .latest-posts .small header {
      top: 1em; } }
  @media (max-width: 650px) {
    .main .latest-posts .small header {
      position: absolute;
      z-index: 200;
      top: 1em; } }
  @media (min-width: 1024px) {
    .main .latest-posts .wide {
      width: 100%;
      grid-column: span 3;
      grid-row: span 2; } }
  @media (min-width: 1024px) {
    .main .latest-posts .wide header {
      top: 3em; } }
  @media (max-width: 650px) {
    .main .latest-posts .wide header {
      top: 1em;
      position: absolute;
      z-index: 200; } }

/* site header */
.site-header a,
.logo a {
  transition: all 0.3s ease-out; }

.latest-posts li img {
  transition: box-shadow 0.2s ease-in; }

/* gallery */
.gallery ul li {
  transition: transform 0.1s ease-in; }

.gallery ul li:hover {
  box-shadow: 0px 0px 8px 2px var(--color-hover, 1);
  z-index: 100; }
  @media (min-width: 1024px) {
    .gallery ul li:hover {
      transform: scale(1.3); } }

@-webkit-keyframes bounce {
  from {
    top: -3px; }
  to {
    top: -15px; } }

@keyframes bounce {
  from {
    top: -3px; }
  to {
    top: -15px; } }

@-webkit-keyframes slide {
  from {
    opacity: 0;
    transform: translate(-3em, -1em); }
  to {
    opacity: 1;
    transform: translate(0); } }

@keyframes slide {
  from {
    opacity: 0;
    transform: translate(-3em, -1em); }
  to {
    opacity: 1;
    transform: translate(0); } }

@-webkit-keyframes slide-even {
  from {
    opacity: 0;
    transform: translate(3em, 1em); }
  to {
    opacity: 1;
    transform: translate(0); } }

@keyframes slide-even {
  from {
    opacity: 0;
    transform: translate(3em, 1em); }
  to {
    opacity: 1;
    transform: translate(0); } }

@-webkit-keyframes footstep {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }

@keyframes footstep {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }

.gallery {
  width: 100%; }
  @media (max-width: 650px) {
    .gallery {
      margin-top: 5em;
      padding: 0 1em; } }
  @media (min-width: 1024px) {
    .gallery ul {
      margin: 2em auto;
      padding: 1em;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: auto;
      grid-gap: 1.5em;
      justify-content: center; } }
  @media (max-width: 650px) {
    .gallery ul {
      display: grid;
      padding-left: 0;
      grid-template-columns: 1fr;
      grid-template-rows: auto;
      grid-gap: 1em; } }
  .gallery ul .frame:nth-child(odd) {
    -webkit-animation: slide 0.15s ease-in;
            animation: slide 0.15s ease-in; }
    .gallery ul .frame:nth-child(odd):nth-child(1) {
      -webkit-animation-delay: 0.05s;
              animation-delay: 0.05s; }
    .gallery ul .frame:nth-child(odd):nth-child(2) {
      -webkit-animation-delay: 0.1s;
              animation-delay: 0.1s; }
    .gallery ul .frame:nth-child(odd):nth-child(3) {
      -webkit-animation-delay: 0.15s;
              animation-delay: 0.15s; }
    .gallery ul .frame:nth-child(odd):nth-child(4) {
      -webkit-animation-delay: 0.2s;
              animation-delay: 0.2s; }
    .gallery ul .frame:nth-child(odd):nth-child(5) {
      -webkit-animation-delay: 0.25s;
              animation-delay: 0.25s; }
    .gallery ul .frame:nth-child(odd):nth-child(6) {
      -webkit-animation-delay: 0.3s;
              animation-delay: 0.3s; }
    .gallery ul .frame:nth-child(odd):nth-child(7) {
      -webkit-animation-delay: 0.35s;
              animation-delay: 0.35s; }
    .gallery ul .frame:nth-child(odd):nth-child(8) {
      -webkit-animation-delay: 0.4s;
              animation-delay: 0.4s; }
    .gallery ul .frame:nth-child(odd):nth-child(9) {
      -webkit-animation-delay: 0.45s;
              animation-delay: 0.45s; }
    .gallery ul .frame:nth-child(odd):nth-child(10) {
      -webkit-animation-delay: 0.5s;
              animation-delay: 0.5s; }
    .gallery ul .frame:nth-child(odd):nth-child(11) {
      -webkit-animation-delay: 0.55s;
              animation-delay: 0.55s; }
    .gallery ul .frame:nth-child(odd):nth-child(12) {
      -webkit-animation-delay: 0.6s;
              animation-delay: 0.6s; }
    .gallery ul .frame:nth-child(odd):nth-child(13) {
      -webkit-animation-delay: 0.65s;
              animation-delay: 0.65s; }
    .gallery ul .frame:nth-child(odd):nth-child(14) {
      -webkit-animation-delay: 0.7s;
              animation-delay: 0.7s; }
  .gallery ul .frame:nth-child(even) {
    -webkit-animation: slide-even 0.15s ease-in;
            animation: slide-even 0.15s ease-in; }
    .gallery ul .frame:nth-child(even):nth-child(1) {
      -webkit-animation-delay: 0.05s;
              animation-delay: 0.05s; }
    .gallery ul .frame:nth-child(even):nth-child(2) {
      -webkit-animation-delay: 0.1s;
              animation-delay: 0.1s; }
    .gallery ul .frame:nth-child(even):nth-child(3) {
      -webkit-animation-delay: 0.15s;
              animation-delay: 0.15s; }
    .gallery ul .frame:nth-child(even):nth-child(4) {
      -webkit-animation-delay: 0.2s;
              animation-delay: 0.2s; }
    .gallery ul .frame:nth-child(even):nth-child(5) {
      -webkit-animation-delay: 0.25s;
              animation-delay: 0.25s; }
    .gallery ul .frame:nth-child(even):nth-child(6) {
      -webkit-animation-delay: 0.3s;
              animation-delay: 0.3s; }
    .gallery ul .frame:nth-child(even):nth-child(7) {
      -webkit-animation-delay: 0.35s;
              animation-delay: 0.35s; }
    .gallery ul .frame:nth-child(even):nth-child(8) {
      -webkit-animation-delay: 0.4s;
              animation-delay: 0.4s; }
    .gallery ul .frame:nth-child(even):nth-child(9) {
      -webkit-animation-delay: 0.45s;
              animation-delay: 0.45s; }
    .gallery ul .frame:nth-child(even):nth-child(10) {
      -webkit-animation-delay: 0.5s;
              animation-delay: 0.5s; }
    .gallery ul .frame:nth-child(even):nth-child(11) {
      -webkit-animation-delay: 0.55s;
              animation-delay: 0.55s; }
    .gallery ul .frame:nth-child(even):nth-child(12) {
      -webkit-animation-delay: 0.6s;
              animation-delay: 0.6s; }
    .gallery ul .frame:nth-child(even):nth-child(13) {
      -webkit-animation-delay: 0.65s;
              animation-delay: 0.65s; }
  .gallery ul li {
    position: relative;
    display: block;
    overflow: hidden;
    border-radius: 0.5em;
    box-shadow: 5px 5px 12px 7px rgba(0, 0, 0, 0.75); }
    @media (max-width: 650px) {
      .gallery ul li {
        box-shadow: 3px 3px 10px 6px rgba(0, 0, 0, 0.75); } }
    .gallery ul li:before {
      display: block;
      content: '';
      padding-top: 56.25%; }
  .gallery ul img {
    width: 100%;
    height: auto;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 0.5em; }

#toTop {
  display: block;
  position: relative;
  width: 2em;
  height: 2em;
  padding: 0.5em;
  background-color: #67686b;
  position: fixed;
  bottom: 1.5em;
  right: 1.5em;
  color: #fff;
  border: 1px solid #000;
  border-radius: 50%;
  transition: all 0.1s ease-in; }
  #toTop:hover {
    box-shadow: 0px 0px 5px 2px var(--color-hover, 1);
    background-color: #000;
    opacity: 1; }
  #toTop i {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }

.cat-breeds {
  display: flex;
  flex-wrap: wrap; }

.cat-container {
  -webkit-animation: slide 0.2s ease-in;
          animation: slide 0.2s ease-in;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both; }
  @media (min-width: 1024px) {
    .cat-container {
      display: grid;
      grid-template-columns: repeat(7, 1fr);
      grid-auto-rows: auto;
      margin-bottom: 2em; } }
  .cat-container:nth-child(2) {
    -webkit-animation-delay: 0.1s;
            animation-delay: 0.1s; }
  .cat-container:nth-child(3) {
    -webkit-animation-delay: 0.2s;
            animation-delay: 0.2s; }
  .cat-container .breed-info {
    position: relative;
    background-color: var(--color-dark);
    color: var(--color-darker);
    text-shadow: 0px 0px 4px var(--color-primery);
    padding: 1em;
    box-shadow: 5px 5px 10px 1px rgba(0, 0, 0, 0.75);
    border-top-left-radius: 1em; }
    @media (min-width: 1024px) {
      .cat-container .breed-info {
        grid-column: span 4;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: flex-start; } }
    .cat-container .breed-info .arrow {
      position: absolute;
      -webkit-animation: bounce 0.5s infinite alternate ease-in;
              animation: bounce 0.5s infinite alternate ease-in; }
      @media (min-width: 1024px) {
        .cat-container .breed-info .arrow {
          flex: 0 0 100%;
          left: 2em;
          font-size: 1.5em; } }
    .cat-container .breed-info .avatar {
      background-color: var(--color-primery);
      position: relative;
      overflow: hidden;
      box-shadow: 3px 3px 20px 5px rgba(0, 0, 0, 0.75);
      border-radius: 0.4em;
      transition: all 0.2s ease-in; }
      @media (min-width: 1024px) {
        .cat-container .breed-info .avatar {
          display: block;
          flex: 0 0 40%; } }
      .cat-container .breed-info .avatar:before {
        display: block;
        content: '';
        padding-top: 56.25%; }
      .cat-container .breed-info .avatar img {
        display: block;
        width: 100%;
        height: auto;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); }
      .cat-container .breed-info .avatar:hover {
        box-shadow: 0px 0px 5px 2px var(--color-hover, 1); }
    @media (min-width: 1024px) {
      .cat-container .breed-info .temperament {
        padding: 0 1em;
        font-size: 18px;
        flex: 0 0 60%; } }
    .cat-container .breed-info .temperament p {
      padding-bottom: 0; }
    .cat-container .breed-info span {
      font-size: 1.4em;
      color: var(--color-darker);
      border-bottom: 2px solid var(--color-hover); }
  .cat-container .rank {
    box-shadow: 5px 5px 10px 1px rgba(0, 0, 0, 0.75);
    border-bottom-right-radius: 1em; }
    @media (min-width: 1024px) {
      .cat-container .rank {
        grid-column: span 1;
        display: flex;
        justify-content: center;
        align-items: center; } }
    .cat-container .rank span {
      width: 5em;
      height: 5em;
      padding: 1.6em 0;
      border-radius: 50%;
      border: 3px solid var(--color-hover);
      font-size: 1.5em;
      text-align: center;
      box-shadow: 3px 3px 15px 3px rgba(0, 0, 0, 0.75); }
  @media (min-width: 1024px) {
    .cat-container .description {
      grid-column: span 2;
      display: flex;
      flex-wrap: wrap;
      justify-content: center; } }
  .cat-container .description h3 {
    border-bottom: 1px solid var(--color-hover); }
  .cat-container .description p {
    flex-basis: 100%;
    padding: 0 0 0 2em; }
  .cat-container .description span:nth-child(odd) {
    padding-right: 1em; }

.cat-paws {
  position: fixed;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(6, 1fr); }
  @media (min-width: 1024px) {
    .cat-paws {
      top: 8em;
      right: 5em;
      padding: 1em 2em; } }
  .cat-paws i {
    grid-column: span 1;
    font-size: 4em;
    padding: 0.2em;
    color: var(--color-darker);
    -webkit-animation: footstep 4s infinite;
            animation: footstep 4s infinite;
    opacity: 0;
    transform: rotate(180deg); }
    .cat-paws i:nth-child(1) {
      -webkit-animation-delay: 0.6s;
              animation-delay: 0.6s; }
    .cat-paws i:nth-child(2) {
      -webkit-animation-delay: 1.2s;
              animation-delay: 1.2s; }
    .cat-paws i:nth-child(3) {
      -webkit-animation-delay: 1.8s;
              animation-delay: 1.8s; }
    .cat-paws i:nth-child(4) {
      -webkit-animation-delay: 2.4s;
              animation-delay: 2.4s; }
    .cat-paws i:nth-child(5) {
      -webkit-animation-delay: 3s;
              animation-delay: 3s; }
    .cat-paws i:nth-child(6) {
      -webkit-animation-delay: 3.6s;
              animation-delay: 3.6s; }
    .cat-paws i:nth-child(1) {
      grid-area: 1 / 1 / 2 / 2; }
    .cat-paws i:nth-child(2) {
      grid-area: 2 / 2 / 3 / 2; }
    .cat-paws i:nth-child(3) {
      grid-area: 3 / 1 / 4 / 2; }
    .cat-paws i:nth-child(4) {
      grid-area: 4 / 2 / 4 / 2; }
    .cat-paws i:nth-child(5) {
      grid-area: 5 / 1 / 6 / 2; }
    .cat-paws i:nth-child(6) {
      grid-area: 6 / 2 / 6 / 2; }
