<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ site.baseurl }}/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/css/site.css">
    <script src="{{ site.baseurl }}/scrypts/site.js"></script>
    <title>{{ site.title }}</title>
</head>
<body>

    <div class="site">

        <input type="checkbox" id="toggle-nav" class="toggle-nav">
        <header class="site-header">

            <a class="logo" href="{{ site.baseurl }}/" name="home">
                <span>
                    <img src="../pictures/0-02-04-9c9817c54c47792fb71e3cdb6684352e8e62e79ab26ee6d8f62a9d4edb9a4b07_c399c633.jpg" alt="">
                </span>
                <span>Home</span>
            </a>

            {% include navigation.html location="header" %}

        </header>
       
        <main class="site-main">

            {{ content }}
            
        </main>
        
        <footer class="site-footer">
            {% include footer.html location="footer" %}
        </footer>

    </div>

</body>
</html>
