html {
    // scroll-behavior: smooth;
}

/* site header */

.site-header a,
.logo a {
    transition: all 0.3s ease-out;
}


/* gallery */

.gallery ul li {
    transition: transform 0.1s ease-in;
}

.gallery ul li:hover  {
    box-shadow: 0px 0px 8px 2px var(--color-hover, 1);
    transform: scale(1.6);
    z-index: 100; 
}
    
//  breeds

@keyframes bounce {
    from {
        top: -3px;
    }

    to {
        top: -15px;
    }
}

@keyframes slide {
    from {
        opacity: 0;
        transform: translate(-3em, -1em);
    }
    to {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes slide-even {
    from {
        opacity: 0;
        transform: translate(3em, 1em);
    }
    to {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes footstep {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}