.articles {
    position: relative;

    @include layout( laptop ) {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: auto;

        article {
            grid-column: span 3;
            padding: 0 2em;
            margin-bottom: 3em;
        }

        .image-container {
            padding-bottom: 5em;
        }

        .partners {
            // top: 4.5em;
            top: 5em;
            right: 7em;
            grid-column: span 1;
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 3em 6em 6em 6em 6em 6em;
            grid-row-gap: 1.2em;
        }

        .partner-logo {
            width: 70%;
            justify-self: center;
        }
    }

    @include layout( desktop ) {

        .partners {
            right: 10em;
        }

    }

    @include layout( desktop-large ) {

        .partners {
            top: 4em;
            right: 10em;
            grid-template-rows: 2.3em 6em 6em 6em 6em 6em;
        }

    }

    @include layout( mobile ) {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;

        article {
            flex: 0 1 83%;
            padding: 0 1.5em;
            margin-bottom: 4em;
        }

        .image-container {
            width: 30em;
        }

        .partners {
            top: 6.5em;
            right: 0.5em;
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 3em 6em 6em 6em 6em 6em;            
            grid-row-gap: 1.5em;
            flex: 0 1 15%;
            padding-left: 0.5em;
            justify-content: flex-end;

            header h4 {
                width: 70%;
                margin-left: auto;
            }
        }

        .partner-logo {
            width: 6em;
            justify-self: flex-end;

            img {
                width: 100%;
            }
        }
    }

    @include layout( phone ) {

        .image-container {
            width: 23em;
        }

    }

    @include layout( small-phone ) {

        .image-container {
            width: 18em;
        }

        .partners {
            top: 10em;
            grid-template-rows: 3em 4.5em 4.5em 4.5em 4.5em 4.5em;
            
            h4 {
                font-size: 1.2em;
            }
        }

        .partner-logo {
            width: 4.5em;
        }
        
    }

    article {
    
        h2 {
            text-align: center;
            border-bottom: 1px solid var(--color-hover);
            margin-bottom: 1.5em;
        }
        
        .image-container {
            display: block;
            position: relative;
            margin: 0 auto;

            img {
                width: 100%;
                height: auto;
                display: block;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                box-shadow: 40px 40px 50px 0px rgba(0,0,0,0.75);
                border-radius: 1em 0 1em 0;
            }

            &:before {
                display: block;
                content: '';
                padding-top: 56.25%;
            }
        }

        .skew-left {
            transform: skew(5deg, 5deg);
        }

        .skew-right {
            transform: skew(-5deg, -5deg);
        }

        .top {
            margin-top: 5em;
        }

        p {
            padding-bottom: 0.4em;
        }
    }
    
    .partners {
        
        position: fixed;
        
        h4 {
            border-bottom: 1px solid var(--color-hover);
            text-align: center;
        }
        
        .partner-logo {
            box-shadow: 30px 30px 50px 0px rgba(0,0,0,0.75);
            position: relative;
            display: block;
            overflow: hidden;
            transform: skew(-3deg, 0deg);
            border-radius: 0.3em;
            
            img {
                width: 100%;
                height: auto;
                display: block;
                position: absolute;
                z-index: 1000;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
    } 
}