.articles {
    
    position: relative;

    @include layout( laptop ) {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: auto;
    }

    @include layout( phone ) {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
    }

    article {
        
        @include layout( laptop ) {
            grid-column: span 3;
            padding: 0 2em;
            margin-bottom: 3em;
        }
        
        @include layout( phone ) {
            flex: 0 0 82%;
            padding: 0 1.5em;
            margin-bottom: 4em;
        }
        
        h2 {
            text-align: center;
            border-bottom: 1px solid var(--color-hover);
            margin-bottom: 1.5em;
        }
        
        .image-container {
            display: block;
            position: relative;
            margin: 0 auto;
            
            @include layout( laptop ) {
                padding-bottom: 5em;
            }

            @include layout( phone ) {
                width: 23em;
            }

            img {
                width: 100%;
                height: auto;
                display: block;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                box-shadow: 40px 40px 50px 0px rgba(0,0,0,0.75);
                border-radius: 1em 0 1em 0;

            }

            &:before {
                display: block;
                content: '';
                padding-top: 56.25%;
            }
        }

        .skew-left {
            transform: skew(5deg, 5deg);
        }

        .skew-right {
            transform: skew(-5deg, -5deg);
        }

        .top {
            margin-top: 5em;
        }

        p {
            padding-bottom: 0.4em;
        }
    }
    
    .partners {
        
        position: sticky;
        
        @include layout( laptop ) {
            top: 2em;
            grid-column: span 1;
            padding: 1em 0.5em;
            grid-area: 1 / 4 / 2 / 4;
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 4em 6em 6em 6em 6em 6em;
            grid-row-gap: 1.2em;
        }
        
        @include layout( phone ) {
            top: 3em;
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 4em 6em 6em 6em 6em 6em;            
            grid-row-gap: 1.5em;
            flex: 0 0 15%;
            margin-left: auto;
            padding-right: 0.5em;
        } 
        
        h4 {
            border-bottom: 1px solid var(--color-hover);
            text-align: center;
        }
        
        .partner-logo {
            box-shadow: 30px 30px 50px 0px rgba(0,0,0,0.75);
            position: relative;
            display: block;
            overflow: hidden;
            transform: skew(-3deg, 0deg);
            
            @include layout( laptop ) {
                width: 60%;
                justify-self: center;
            }

            @include layout( phone ) {
                flex-basis: 100%;
            }

            img {
                width: 5em;
                height: auto;
                display: block;
                position: absolute;
                z-index: 1000;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);

                @include layout( phone ) {
                    width: 100%;
                }
            }
        }
    }
    
}

