.cat-breeds {
    display: flex;
    flex-wrap: wrap;
}

.cat-container {

    @include layout( laptop ) {
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        grid-template-rows: auto;
        margin-bottom: 2em;
        animation: slide 0.2s ease-in;
        animation-fill-mode: both;
        &:nth-child(2) { animation-delay: 0.1s };
        &:nth-child(3) { animation-delay: 0.2s };
    }

    @include layout( phone ) {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        margin-bottom: 2em;     
    }
    
    .breed-info {

        @include layout( laptop ) {
            grid-column: span 4;
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-start;
            align-items: flex-start;
        }

        @include layout( phone ) {
            grid-column: span 1;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }

        position: relative;
        background-color: var(--color-dark);
        color: var(--color-darker);
        text-shadow: 0px 0px 4px var(--color-primery);
        padding: 1em;
        box-shadow: 5px 5px 10px 1px rgba(0,0,0,0.75); 
        border-top-left-radius: 1em;  
        
        .arrow {

            @include layout( laptop ) {
                flex: 0 0 100%;
                left: 2em;
                font-size: 1.5em;
                position: absolute;
                animation: bounce 0.5s infinite alternate ease-in;
            }
        }

        .avatar {

            @include layout( laptop ) {
                display: block;
                flex: 0 0 40% ;
            }

            @include layout( phone   ) {
                display: block;
                flex: 0 0 80% ;
            }

            background-color: var(--color-primery);
            position: relative;
            overflow: hidden;
            box-shadow: 3px 3px 20px 5px rgba(0,0,0,0.75);
            border-radius: 0.4em;
            transition: all 0.2s ease-in;
            
            &:before {
                display: block;
                content: '';
                padding-top: 56.25%;
            } 

            img {
                display: block;
                width: 100%;
                height: auto;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }  

            &:hover {
                box-shadow: 0px 0px 5px 2px var(--color-hover, 1); 
            }
        }

        .temperament {

            @include layout( laptop ) {
                padding: 0 1em;
                font-size: 18px;
                flex: 0 0 60%;
            }

            @include layout( phone ) {
                margin-top: 1.5em;
                padding: 0 1em;
                flex: 0 0 100%;
            }

            p {
                padding-bottom: 0;
            }
        }

        span {
            font-size: 1.4em;
            color: var(--color-darker);
            border-bottom: 2px solid var(--color-hover);
        }

    }

    .rank {

        grid-column: span 1;
        display: flex;
        justify-content: center;
        align-items: center;
        // @include layout( laptop ) {
        // }

        @include layout( phone ) {
            padding: 0.5em 0;
        }
        
        box-shadow: 5px 5px 10px 1px rgba(0,0,0,0.75);
        border-bottom-right-radius: 1em;

        span {
            width: 5em;
            height: 5em;
            padding: 1.6em 0;
            border-radius: 50%;
            border: 3px solid var(--color-hover);
            font-size: 1.5em;
            text-align: center;
            box-shadow: 3px 3px 15px 3px rgba(0,0,0,0.75);
        }
    }

    .description {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        @include layout( laptop ) {
            grid-column: span 2;
        }

        @include layout( phone ) {
            grid-column: span 1;
            text-align: center;
            padding: 0.5em 0;
        }

        h3 {
            border-bottom: 1px solid var(--color-hover);
        }

        p {

            @include layout( laptop ) {
                padding: 0 0 0 2em;
            }

            @include layout( phone ) {
                padding-bottom: 0.5em;
            }

            flex-basis: 100%;
        }

        span:nth-child(odd) {
            padding-right: 1em;
        }
    }
}

.cat-paws {
    
    position: fixed;

    @include layout( laptop ) {
        top: 8em;
        right: 5em;
        padding: 1em 2em;
    }

    @include layout( phone ) {
        top: 15em;
        right: 1em;
    }

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(6, 1fr);
    
        i {

            @include layout( laptop ) {
                font-size: 4em;
            }

            @include layout( phone ) {
                font-size: 2em;
            }

            grid-column: span 1;
            padding: 0.2em;
            color: var(--color-darker);
            animation: footstep 4s infinite ;
            opacity: 0;
            transform: rotate(180deg);
           
            @for $i from 1 through 6 {
                &:nth-child(#{$i}) {animation-delay: 0.6s * $i}
            }

            &:nth-child(1) {
                grid-area: 1 / 1 / 2 / 2;
            }

            &:nth-child(2) {
                grid-area: 2 / 2 / 3 / 2;                
            } 

            &:nth-child(3) {
                grid-area: 3 / 1 / 4 / 2;                
            }

            &:nth-child(4) {
                grid-area: 4 / 2 / 4 / 2;
            }

            &:nth-child(5) {
                grid-area: 5 / 1 / 6 / 2;
            }

            &:nth-child(6) {
                grid-area: 6 / 2 / 6 / 2;
            }
        }
}