.cat-breeds {
    display: flex;
    flex-wrap: wrap;
}

.cat-container {

    @include layout( mobile ) {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        margin-bottom: 2em;  
        
        .breed-info {
            grid-column: span 1;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }

        .avatar {
            display: block;
            flex: 0 0 80% ;
        }

        .temperament {
            margin-top: 1.5em;
            padding: 0 1em;
            flex: 0 0 100%;
        }

        .rank {
            padding: 0.5em 0;
        }

        .description {
            grid-column: span 1;
            text-align: center;
            padding: 0.5em 0;

            p {
                padding-bottom: 0.5em;
            }
        }
    }

    @include layout( laptop ) {
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        grid-template-rows: auto;
        margin-bottom: 2em;
        animation: slide 0.2s ease-in;
        animation-fill-mode: both;
        &:nth-child(2) { animation-delay: 0.1s };
        &:nth-child(3) { animation-delay: 0.2s };

        .breed-info {
            grid-column: span 4;
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-start;
            align-items: flex-start;
        }

        .avatar {
            display: block;
            flex: 0 0 40% ;
        }

        .temperament {
            padding: 0 1em;
            font-size: 18px;
            flex: 0 0 60%;
        }

        .description {
            grid-column: span 2;

            p {
                padding: 0 0 0 2em;
            }
        }
    }
    
    .breed-info {
        // background-image: linear-gradient(to left top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
        background-image: linear-gradient(to right top, #051937, #27425b, #536f7e, #879da2, #c2cccc);
        position: relative;
        // background-color: var(--color-dark);
        color: var(--color-primery);
        text-shadow: 0px 0px 4px var(--color-primery);
        padding: 1em;
        box-shadow: 5px 5px 10px 1px rgba(0,0,0,0.75); 
        border-top-left-radius: 1em;  

        .avatar {

            background-color: var(--color-primery);
            position: relative;
            overflow: hidden;
            box-shadow: 3px 3px 20px 5px rgba(0,0,0,0.75);
            border-radius: 0.4em;
            transition: all 0.2s ease-in;
            
            &:before {
                display: block;
                content: '';
                padding-top: 56.25%;
            } 

            img {
                display: block;
                width: 100%;
                height: auto;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }  

            &:hover {
                box-shadow: 0px 0px 5px 2px var(--color-hover, 1); 
            }
        }

        .temperament {

            p {
                padding-bottom: 0;
            }
        }

        span {
            font-size: 1.4em;
            color: var(--color-primery);
            border-bottom: 2px solid var(--color-hover);
        }

    }

    .rank {
        grid-column: span 1;
        display: flex;
        justify-content: center;
        align-items: center;
        
        box-shadow: 5px 5px 10px 1px rgba(0,0,0,0.75);
        border-bottom-right-radius: 1em;
        
        span {
            position: relative;
            width: 5em;
            height: 5em;
            padding: 1.6em 0;
            border-radius: 50%;
            border: 2px solid var(--color-hover);
            font-size: 1.5em;
            text-align: center;
            box-shadow: 3px 3px 15px 3px rgba(0,0,0,0.75);

            &:after {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                content: '';
                border-radius: 50%;
                box-shadow: inset 0px 0px 20px 12px rgba(0,0,0,0.75);
                transition: box-shadow 0.4s ease-out;
            }

            &:hover:after {
                box-shadow: inset 0px 0px 0px 0px rgba(0,0,0,0.75);
            }
        }
    }

    .description {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        h3 {
            border-bottom: 1px solid var(--color-hover);
        }

        p {

            flex-basis: 100%;
        }

        span:nth-child(odd) {
            padding-right: 1em;
        }
    }
}

.cat-paws {
    
    position: fixed;

    @include layout( mobile ) {
        top: 15em;
        right: 1em;

        i {
            font-size: 2.2em;
        }
    }

    @include layout( laptop ) {
        top: 8em;
        right: 1em;
        padding: 1em 2em;

        i {
            font-size: 4em;
        }
    }

    @include layout( desktop ) {
        top: 6em;
        right: 2.5em;
        padding: 1em 2em;

        i {
            font-size: 4.5em;
        }
    }

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(6, 1fr);
    
        i {

            grid-column: span 1;
            padding: 0.2em;
            color: var(--color-darker);
            animation: footstep 4s infinite ;
            opacity: 0;
            transform: rotate(180deg);
           
            @for $i from 1 through 6 {
                &:nth-child(#{$i}) {animation-delay: 0.6s * $i}
            }

            &:nth-child(1) {
                grid-area: 1 / 1 / 2 / 2;
            }

            &:nth-child(2) {
                grid-area: 2 / 2 / 3 / 2;                
            } 

            &:nth-child(3) {
                grid-area: 3 / 1 / 4 / 2;                
            }

            &:nth-child(4) {
                grid-area: 4 / 2 / 4 / 2;
            }

            &:nth-child(5) {
                grid-area: 5 / 1 / 6 / 2;
            }

            &:nth-child(6) {
                grid-area: 6 / 2 / 6 / 2;
            }
        }
}