.site {
    max-width: var(--layout-main-width);
    margin: 0 auto;
    padding: 2em;
}

@media ( min-width: 1024px ) {

    .site-header {
        display: flex;
        align-items: center;
        margin-bottom: 5em;
        padding: 0.2em 0.2em 0.2em 1em;
    }

    .site-header nav {
        margin-left: auto;
    }

    .site-header nav li {
        display: inline-block;
    }

    .site-header nav a {
        padding: 0.25em 1em;
    }
    
}