.site {
    max-width: var(--layout-main-width);
    margin: 0 auto;
    padding: 2em;

    @include layout( phone ) {
        padding: 0;
    }
}

@media ( min-width: 1024px ) {

    .site-header nav {
        margin-left: auto;
    }

    .site-header nav li {
        display: inline-block;
    }

    .site-header nav a {
        padding: 0.25em 1em;
    }
    
}