.site-header nav {
    padding: 0.5em;
    text-align: center;

    ul {
        padding: 0;
    }

    li {
        padding: 0 0.2em;
        list-style: none;

        &:not(:last-child) {
            border-right: 1px solid #666;
        }

        a {
            font-size: 1.2em;
            text-transform: uppercase;
            border-bottom: 1px solid var(--color-primery);
            text-decoration: none;
            color: var(--color-primery);

            &:hover {
                background-color: var(--color-dark);
                color: var(--color-darker);
                box-shadow: 0px 0px 8px 2px var(--color-hover, 1);
            }
        }
    }
}

.toggle-nav-btn {
    display: none;

    .fa-times {
        display: none;
    }

    @include layout( mobile ) {
        i {
            position: absolute;
            top: 1.5em;
            left: 1.5em;
            font-size: 2.4em;
        }
    }

    @include layout( phone ) {
        i {
            position: absolute;
            top: 0.6em;
            left: 0.6em;
            font-size: 2.2em;
        }
    }
}

.toggle-nav {
    opacity: 0;
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;

    @include layout( mobile ) {

        & + .site-header {
            .toggle-nav-btn {
                display: block;
            }

            .site-nav {
                display: none;
            }
        }

        &:checked + .site-header {

            .site-nav {
                display: block;
            }

            .toggle-nav-btn {
                display: block;

                .fa-bars {
                    display: none;
                }
    
                .fa-times {
                    display: block;
                }
            }
        }
    }
}