.videos {

    .video-container {
        display: grid;
        grid-auto-flow: dense;
        justify-content: center;
    }

    .video-box {
        position: relative;
        display: block;
        // overflow: hidden;
    
        h6 {
            position: absolute;
            z-index: 300;
            font-weight: bold;
            font-size: 1.1em;
        }

        video {
            border-radius: 0.4em;
            outline: none;
            width: 100%;
            height: auto;
            display: block;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            box-shadow: 2px 2px 8px 5px var(--color-darker, 0.75); 
        }
    }

    @include layout( mobile ) {

        h3 {
            padding: 0 2em 2em 2em;
            text-align: center;
        }

        .video-container {
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: repeat(3, 250px);
            grid-gap: 2em;
        }

        .small,
        .big {
            grid-column: span 2;
            grid-row: span 1;
        }

        .small h6 {
            top: -1.8em;
            left: 0.5em;
        }

        .big h6 {
            top: -1.8em;
            left: 0.5em;
        }

    }

    @include layout( phone ) {

        .video-container {
            grid-template-columns: 30em;
            grid-template-rows: repeat(6, 16.8em);
            grid-row-gap: 3em;
        }

        .small,
        .big {
            grid-column: span 1;
            grid-row: span 1;
        }

        .small h6 {
            top: -1.5em;
            left: 0.5em;
        }

        .big h6 {
            top: -1.5em;
            left: 0.5em;
        }

    }

    @include layout( small-phone ) {

        .video-container {
            grid-template-columns: 20em;
            grid-template-rows: repeat(6, 11.25em);
            grid-row-gap: 3em;
        }

    }

    @include layout( laptop ) {

        h3 {
            padding-bottom: 3em;
        }

        .video-container {
            grid-template-columns: repeat(6, 1fr);
            grid-template-rows: repeat(3, 270px);
            grid-column-gap: 2em;
            grid-row-gap: 3.5em;
        }

        .small {
            grid-column: span 2;
            grid-row: span 1;
    
            h6 {
                top: 0.8em;
                left: 0.5em;
            }
        }

        .big {
            grid-column: span 3;
            grid-row: span 1;
    
            h6 {
                top: -2.4em;
                left: 0.5em;
            }

            &:nth-child(even) h6 {
                width: 100%;
                text-align: right;
            }
    
            p {
                padding-top: 1em;
                font-size: 3.4em;
            }
        }
    }

    @include layout( desktop ) {

        .video-container {
            grid-template-columns: repeat(8, 1fr);
            grid-template-rows: repeat(3, 14em);
            grid-column-gap: 2em;
            grid-row-gap: 3.5em;
        }

        .small {
            grid-column: span 2;
            grid-row: span 1;
        }

        .big {
            grid-column: span 4;
            grid-row: span 2;
        }
    } 
}